:root {
    /* Colors - Base */
    --clr-background: #18181b;

    --clr-font: #f4f4f5;
    --clr-font-light: #71717a;
    --clr-font-invert: #18181b;

    --clr-gray: #71717a;

    --clr-primary: #5090f0;
    --clr-primary-effect: #3a6dbb;
    --clr-primary-font: #18181b;

    --clr-secondary: #275fdaff;
    --clr-secondary-effect: #1f4b9f;
    --clr-secondary-font: #18181b;

    --clr-shadow: #f0f0f0;

    /* Colors - Info Messages */
    --clr-infomessage-font: black;
    --clr-infomessage-none-border: #444444ff;
    --clr-infomessage-none-background: #44444444;
    --clr-infomessage-info-border: #275fdaff;
    --clr-infomessage-info-background: #275fda33;
    --clr-infomessage-warning-border: #f3c033ff;
    --clr-infomessage-warning-background: #f3c03344;
    --clr-infomessage-error-border: #f45c4aff;
    --clr-infomessage-error-background: #f45c4a44;
    --clr-infomessage-success-border: #4dbb5fff;
    --clr-infomessage-success-background: #4dbb5f44;

    /* Spacing */
    --spc-default: 16px;
    --spc-content-side: 10%;

    /* Borders */
    --brd-thickness: 1px;
    --brd-radius: 8px;
}

@media screen and (max-width: 768px) {
    :root {
        --spc-content-side: 10%;

        --brd-thickness: 1px;
        --brd-radius: 5px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --spc-content-side: 5%;

        --brd-thickness: 1px;
        --brd-radius: 5px;
    }
}

html, body {
    margin: 0;
    padding: 0;

    background-color: var(--clr-background);

    scroll-behavior: smooth;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 2.5vh calc(2 * var(--spc-default));
    box-sizing: border-box;
}

.container.screenheight {
    min-height: 100vh;
    padding: 20vh calc(2 * var(--spc-default));
}

section {
    margin-bottom: calc(4 * var(--spc-default));
}

@media screen and (min-width: 768px) {
    section {
        margin-bottom: calc(6 * var(--spc-default));
    }
}

.nomargin {
    margin: 0;
}

.text-center {
    text-align: center;
}

header {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 calc(2 * var(--spc-default));
    box-sizing: border-box;
}

header .container {
    padding: calc(2 * var(--spc-default)) 0 0 0;
}

header .breadcrumbs a {
    color: var(--clr-gray);
}

header .breadcrumbs a[data-last],
header .breadcrumbs span {
    color: var(--clr-font);
}

header .breadcrumbs a {
    margin-bottom: calc(0.25 * var(--spc-default));

    background: none;
    -webkit-background-clip: border-box;
}

header .breadcrumbs a:hover {
    -webkit-text-fill-color: var(--clr-font);
}

footer {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 calc(2 * var(--spc-default));
    box-sizing: border-box;
}

footer .container {
    padding: calc(2 * var(--spc-default)) 0;

    border-top: 1px solid var(--clr-gray);
}

footer .footer-links .link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: calc(1.75 * var(--spc-default));
}

@media screen and (min-width: 480px) {
    footer .footer-links {
        display: flex;
        flex-wrap: wrap;
    }

    footer .footer-links .link-container {
        width: 50%;
    }
}

footer .footer-links .link-container h4,
footer .footer-links .link-container a {
    color: var(--clr-gray);
}

footer .footer-links .link-container h4 {
    margin-bottom: calc(0.5 * var(--spc-default));
}

footer .footer-links .link-container a {
    margin-bottom: calc(0.25 * var(--spc-default));

    background: none;
    -webkit-background-clip: border-box;

    transition: color 400ms ease-in-out;
}

footer .footer-links .link-container a:hover {
    -webkit-text-fill-color: var(--clr-font);
}

footer .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: var(--spc-default);
}

footer .footer-logo img {
    height: 3em;
    margin-right: var(--spc-default);

    border-radius: calc(0.5 * var(--spc-default));
}

footer .footer-logo h4 {
    display: inline-block;
    margin: 0;

    color: var(--clr-gray);
}

footer .social-media-links {
    display: flex;
    align-items: center;
}

footer .social-media-links a {
    display: flex;
    align-items: center;
    margin-right: var(--spc-default);
    gap: var(--spc-default);

    color: var(--clr-gray);

    transition: color 400ms ease-in-out;
}

footer .social-media-links a svg {
    width: calc(1.5 * var(--spc-default));

    fill: var(--clr-gray);

    transition: fill 400ms ease-in-out;
}

footer .social-media-links a:hover {
    color: var(--clr-font);
    -webkit-text-fill-color: unset;
}

footer .social-media-links a:hover svg {
    fill: var(--clr-font);
}
