:root {
    --clr-status-operational: #4dbb5f;
    --clr-status-operational-font: var(--clr-font-invert);
    --clr-status-partial: #f3c033;
    --clr-status-partial-font: var(--clr-font-invert);
    --clr-status-full: #f45c4a;
    --clr-status-full-font: var(--clr-font);
    --clr-status-unknown: #444444;
    --clr-status-unknown-font: var(--clr-font);
}

*[data-status] {
    background-color: var(--clr-status-unknown);
    color: var(--clr-status-unknown-font);
}

*[data-status="OPERATIONAL"] {
    background-color: var(--clr-status-operational);
    color: var(--clr-status-operational-font);
}

*[data-status="PARTIAL_OUTAGE"] {
    background-color: var(--clr-status-partial);
    color: var(--clr-status-partial-font);
}

*[data-status="FULL_OUTAGE"] {
    background-color: var(--clr-status-full);
    color: var(--clr-status-full-font);
}

.summarization-status {
    padding: var(--spc-default);
    border-radius: var(--brd-radius);

    font-weight: bolder;
}

.services {
    display: flex;
    flex-direction: column;
    gap: var(--spc-default);
}

.services .service .service-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spc-default);
}

.services .service .service-details .current-status {
    padding: calc(var(--spc-default) / 4);
    border-radius: calc(1rem);

    font-size: smaller;
}

.services .service .service-status .status-history {
    display: flex;
    align-items: center;
    gap: 3px;
}

.services .service .service-status .status-history .status-history-element {
    width: 100%;
    height: calc(2 * var(--spc-default));
    position: relative;

    border-radius: calc(var(--spc-default) / 2);
}

.services .tooltip {
    display: none;
}

.tippy-arrow {
    color: var(--clr-gray);
}

.tippy-content {
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: var(--spc-default);
    gap: calc(var(--spc-default) / 2);
    box-sizing: border-box;

    background-color: var(--clr-background);

    border: 1px solid var(--clr-gray);
    border-radius: var(--brd-radius);
}

.tippy-content > p {
    font-weight: bolder;
}

.tippy-content .status-history-incident {
    font-size: smaller;
}

.tippy-content .status-history-incident p:first-of-type {
    font-weight: bolder;
}

.services .service .service-status .status-legend {
    display: flex;
    justify-content: space-between;

    color: var(--clr-font-light);
    font-size: smaller;
}
