name: "Compile Tailwind CSS"

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: "ubuntu-latest"

        steps:
            - name: "Checkout"
              uses: "actions/checkout@v6"

            - name: "Setup Node.js"
              uses: "actions/setup-node@v6"
              with:
                  node-version: "24"

            - name: "Move Node.js files"
              run: |
                  cp docker/nodejs/package.json .
                  cp docker/nodejs/package-lock.json .

            - name: "Install dependencies"
              run: |
                  npm install

            - name: "Compile Tailwind CSS"
              run: |
                  npx @tailwindcss/cli --input src/static/css/base.css --output src/static/css/style.css --minify

            - name: "Commit compiled CSS"
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"
                  git add -f src/static/css/style.css
                  git commit -m "chore: Compile Tailwind CSS [skip ci]" || echo "No changes to commit"
                  git push origin main
