name: "Push to main branch"

on:
    push:
        branches:
            - "main"
    workflow_dispatch:

jobs:
    build:
        runs-on: "ubuntu-latest"

        steps:
          - name: "Checkout"
            uses: "actions/checkout@v5"

          - name: "Set version in composer.json"
            run: |
                VERSION="dev-$(git rev-parse --short HEAD)"
                jq --arg ver "$VERSION" '.version = $ver' composer.json > composer.tmp.json
                mv composer.tmp.json composer.json

          - name: "Update metadata in composer.lock"
            run: |
                composer update --lock --ignore-platform-reqs --no-install --no-interaction

          - name: "Login to GitHub Container Registry"
            uses: "docker/login-action@v3"
            with:
                registry: "ghcr.io"
                username: "${{ github.actor }}"
                password: "${{ secrets.GITHUB_TOKEN }}"

          - name: "Get lowercase repository details"
            id: "lowercase-repo-details"
            run: |
                echo "REPOSITORYLC=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"

          - name: "Docker Buildx setup"
            uses: "docker/setup-buildx-action@v3"

          - name: "Build and push development image"
            uses: "docker/build-push-action@v6"
            with:
                context: "."
                push: "true"
                tags: |
                    ghcr.io/${{ env.REPOSITORYLC }}:dev-latest
                    ghcr.io/${{ env.REPOSITORYLC }}:dev-${{ github.sha }}
                cache-from: "type=gha"
                cache-to: "type=gha,mode=max"

    test:
        runs-on: "ubuntu-latest"

        needs: ["build"]

        steps:
          - name: "Checkout"
            uses: "actions/checkout@v5"

          - name: "Validate composer.json and composer.lock"
            run: |
                composer validate --strict --no-check-version

          - name: "Cache composer packages"
            id: "composer-cache"
            uses: "actions/cache@v4"
            with:
                path: "vendor"
                key: "${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}"
                restore-keys: |
                    ${{ runner.os }}-php-

          - name: "Install composer packages"
            run: |
                composer install --no-interaction --ignore-platform-reqs

          - name: "Run tests"
            run: |
                composer run-script test
