name: "Publish new release"

on:
    release:
        types:
            - "published"

jobs:
    build:
        runs-on: "ubuntu-latest"

        steps:
            - name: "Checkout"
              uses: "actions/checkout@v6"

            - name: "Set version in composer.json"
              run: |
                  VERSION="${{ github.event.release.tag_name }}"
                  jq --arg ver "$VERSION" '.version = $ver' composer.json > composer.tmp.json
                  mv composer.tmp.json composer.json

            - name: "Update metadata in composer.lock"
              run: |
                  composer update --lock --ignore-platform-reqs --no-install --no-interaction

            - name: "Login to GitHub Container Registry"
              uses: "docker/login-action@v3"
              with:
                  registry: "ghcr.io"
                  username: "${{ github.actor }}"
                  password: "${{ secrets.GITHUB_TOKEN }}"

            - name: "Get lowercase repository details"
              id: "lowercase-repo-details"
              run: |
                  echo "REPOSITORYLC=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"
            - name: "Docker Buildx setup"
              uses: "docker/setup-buildx-action@v3"

            - name: "Build and push release image"
              uses: "docker/build-push-action@v6"
              with:
                  context: "."
                  push: true
                  tags: |
                      ghcr.io/${{ env.REPOSITORYLC }}:latest
                      ghcr.io/${{ env.REPOSITORYLC }}:${{ github.event.release.tag_name }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max

    deploy:
        runs-on: "ubuntu-latest"

        needs: [ "build" ]

        steps:
            -   name: "Deploy to production"
                run: |
                    if [ "${{vars.AUTODEPLOY_ACTIVATED}}" != "true" ]; then
                        echo "Cancelled deployment because ${{vars.AUTODEPLOY_ACTIVATED}} is not set or not true"
                        exit 0
                    fi
                    
                    echo "Calling ${{vars.AUTODEPLOY_BASE_URL}}/deploy"
                    RESPONSE=$(curl -s -w "\\n%{http_code}" -u ${{secrets.AUTODEPLOY_AUTH_USERNAME}}:${{secrets.AUTODEPLOY_AUTH_PASSWORD}} ${{vars.AUTODEPLOY_BASE_URL}}/deploy)
                    HTTP_CODE=$(echo "${RESPONSE}" | tail -n 1)
                    HTTP_BODY=$(echo "${RESPONSE}" | head -n -1)
                    echo "${HTTP_BODY}"
                    
                    if [ "$HTTP_CODE" != "200" ]; then
                        echo "${HTTP_CODE}"
                        exit 1
                    fi
